.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (min-width: 630px) and (max-width: 767px) {
  .lead__title {
    width: 90%;
    font-size: 80px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 629px) {
  .lead__title {
    width: 90%;
    font-size: 70px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 1.2;
  }
}