.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  margin: 0 0 32px 0;
}

@media screen and (min-width: 560px) and (max-width: 767px) {
  .cover__title {
    max-width: 400px;
    font-size: 52px;
    line-height: 1.05;
    margin: 0 0 20px 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 559px) {
  .cover__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 1.09;
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 399px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 16px 0;
  }
}