.lead__map-bk {
  width: 100%;
  height: 615px;
  display: flex;
  align-items: flex-start;
  background-image: url(../../../images/lead-img-girl.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__map-bk {
    height: 580px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__map-bk {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__map-bk {
    height: 200px;
  }
}